
<html>
  <head></head>
  <body>
    <div class="container">
      
     
      <div class="log">
          <h1>LOGIN</h1>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Your Email" value="Email">
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Your password" value="password">  
        </mat-form-field>
          </form>

             

            
      </div>
    </div>
  </body>
</html>
